module.exports = {
  /**
   * 距离单位转换
   * @method mToKm
   */
  mToKm: function (num) {
    num = parseFloat((num / 1000).toFixed(3)) + 'km'
    return num
  },

  /**
   * 交易时间单位转换
   * @method formattingTime
   */
  formattingTime: function (time) {
    if (time) {
      time = time.substring(0, 4) + '.' + time.substring(4, 6) + '.' + time.substring(6, 8) + ' ' + time.substring(8, 10) + '.' + time.substring(10, 12)
    } else {
      time = '0000.00.00 00:00'
    }
    return time
  }
}
